@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    justify-content: space-around;
    padding: 5px;
}

.header img {
    width: 32px;
}

.header ul {
    list-style-type: none;
    gap: 20px;
}

.header a {
    text-decoration: none;
}

.hero,
.header {
    background-color: #1F2937;
}

.flex {
    display: flex;
}

.hero,
.members-container {
    justify-content: center;
}

.hero {
    align-items: center;
    padding: 100px 0;
}

.hero,
.members-container {
    gap: 50px;
}

.hero img {
    width: 440px;
}

.hero img,
.group-member img {
    height: auto;
}

.hero-txt-container {
    flex-basis: 440px;
}

.hero p,
.hero button,
.header a {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

.hero h1,
.group h2 {
    font-weight: 900;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    margin: 10px 0;
}

.hero button {
    background-color: #3882F6;
    border: none;
    padding: 10px 50px;
    border-radius: 10px;
    margin: 15px 0;
}

.hero button,
.author-quote {
    font-weight: 700;
}

.group {
    text-align: center;
}

.group h2 {
    color: #1F2937;
    margin: 50px 0;
}

.group h2,
.quote {
    font-size: 36px;
}

.group-member {
    flex-basis: 200px;
}

.group-member span {
    font-style: italic;
}

.group-member img {
    width: 200px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 100px 285px 75px;
    margin: 100px 0;
}

.quote {
    color: #1F2937;
    font-weight: 300;
}

.author-quote {
    text-align: end;
    font-size: 24px;
}

.cta-section {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.cta-container {
    background-color: #3882F6;
    flex-basis: 950px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.cta-container h2 {
    color: #F2FAF8;
    margin: 0;
}

.cta-container p {
    margin: 0;
    color: #E5E7EB;
}

.cta-container button {
    background-color: #3882F6;
}